body{
    background-image: url("https://i.pinimg.com/originals/a9/88/a4/a988a47e605cacc02b0bb41c85270de3.jpg");
}
.details{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 150%;
    font-style: italic;
    background-color: black;
    opacity: 0.6;
}
p{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 150%;
    font-style: italic;
    background-color: black;
    opacity: 0.6; 
}
.contener{
    width: 100%;
    height: 800px;
    text-align: center;
}
.navbar{
    width: 100%;
    height: 20px;
    display: flex;
}
.onglet{
    width: 20%;
    height: 100%;
    color: white;
}
.ongletmain{
    margin-left: 25%;
    width: 20%;
    height: 100%;
    color: white;
}
.onglet:hover{
    cursor: pointer;
    opacity: 0.5;
}
.ongletmain:hover{
    cursor: pointer;
    opacity: 0.5;
}
.box{
    width: 50%;
}
.boxmain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}